@if(!isAppliedInJob){
    @if(job){
        <div class="container">
            <div class="go-up-component" (click)="goUpClicked()">
                <img src="../../assets/icons/arrow_upward_black_24dp.svg" alt="" />
            </div>
            <div class="list-container">
                <div class="job-container">
                    <div class="apply-job">
                        <button [disabled]="isApplyDisabled()" (click)="applyIntoJob()" class="apply-job-button">APPLY</button>
                    </div>
                    <div class="job-title">{{job.title}}</div>
                    <div class="date-time-container">
                        <div class="date-time-title">Date & Time :</div>
                        <div class="date-time-value">
                            <div class="">{{job.sDate}} to {{job.eDate}}</div>
                            <div class="splitter"> | </div>
                            <div class="location">
                                <img src="../../assets/icons/location_on_grey_24dp.svg" alt="location icon">
                                <div class="location-title">{{job.location}}</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="job-role-title">Job Roles:</div>
                    <div class="job-role-container">
                        @for(jr of job.job_roles; track $index){
                            <div class="job">
                                <img src="../../assets/icons/Instructional Designer.svg" alt="Instructional Designer Icon">
                                <div class="role-title">{{jr}}</div>
                            </div>
                            @if($index !== jr.length){
                                <div class="job-splitter mobile-screen"> </div>
                            }
                        }
                    </div>
                    @if(job.isExtraRoles){
                        <div class="extra-roles-container">
                            <div class="extra-role">{{job.isExtraRolesTitle}}</div>
                        </div>
                    }
                </div>
                <div class="dropdown">
                    <div class="pre-requisites-process-title">Pre-requisites & Application Process</div>
                    <div class="dropdown_img_container"
                    (click)="toogleRequisitesProcess()"
                    >
                        <img 
                        [ngClass]="{rotate180: isPreRequisitesApplicationClose}" 
                        src="../../../assets/icons/expand_less_black_24dp.svg" 
                        alt="">
                    </div>
                </div>
                <div class="pre-requisites-process-container" [hidden]="isPreRequisitesApplicationClose">
                    <div class="job-info-container">
                        <div class="job-info">
                            <div class="job-header">General Instructions: </div>
                            <div class="job-value">
                                @for(desc of job.generalInstructions.split("- "); track $index){
                                @if(desc.length !== 0){
                    
                                <div class="instruction">- {{ desc }}</div>
                    
                                } }
                            </div>
                        </div>
                        <hr>
                        <div class="job-info">
                            <div class="job-header">Instructions For Exam: </div>
                            <div class="job-value">
                                @for(instr of job.instructionsForTheExam.split("- "); track $index){
                                    @if(instr.length !== 0){
                                        <div class="instruction">- {{instr}}</div>
                                    }
                                }
                            </div>
                        </div>
                        <hr>
                        <div class="job-info">
                            <div class="job-header">Minimum System Requirements: </div>
                            <div class="job-value">
                                @for(req of job.minimumSystemRequirements.split("- "); track $index){
                                    @if(req.length !== 0){
                                        <div class="instruction">- {{req}}</div>
                                    }
                                }
                            </div>
                        </div>
                        <hr>
                        <div class="job-info">
                            <div class="job-header">Process: </div>
                            <div class="job-value">
                                @for(pr of job.process.split("- "); track $index){
                                    @if(pr.length !== 0){
                                        <div class="instruction">- {{pr}}</div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-slot-container">
                <div class="time-slot-title">Time Slots & Preferences</div>
                <div class="select-time">Select a Time slot: </div>
                <div class="radio-container">
                    @for(timeSlot of job.timeSlots; track $index){
                        <div class="radio-button">
                            <input type="radio" name="timeSlotsPref" [value]="timeSlot" [(ngModel)]="applyInJob.timeSlot">
                            <label for="timeSlotsPref" class="radio-label">{{ timeSlot }}</label>
                        </div>
                    }
                </div>
                <hr/>
                <div class="select-preference">Select Your Preference: </div>
                <div class="checkbox-container">
                    @for(job_role of job.job_roles; track $index){
                        <div class="checkbox-option">
                            <input type="checkbox" [id]="'checkbox_' + job_role" [value]="job_role" [(ngModel)]="applyInJob.preference[$index]"/>
                            <label [for]="'checkbox_' + job_role" class="checkbox-label">{{ job_role }}</label>
                        </div>
                    }
                </div>
                <hr>
                <label for="resume-input" class="data upload-resume-div">
                    <img src="../../../assets/svgs/Upload_24dp.svg" alt="upload_resume" class="upload-resume">
                    <input type="file" id="resume-input" accept="application/pdf" class="resume-input">
                    <div class="upload-label">UPLOAD UPDATE RESUME</div>
                    <!-- <input class="file-name" placeholder="{{fileName}}" disabled> -->
                </label>
            </div>
            @for(job_role of job.job_roles; track $index){
                <div class="single-job-container">
                    <div class="dropdown">
                        <div class="job-roles-title">{{ job_role }}</div>
                        <div class="dropdown_img_container"
                        (click)="clickClose($index)"
                        >
                            <img 
                            [ngClass]="{rotate180: jobRolesDrop[$index]}" 
                            src="../../../assets/icons/expand_less_black_24dp.svg" 
                            alt="">
                        </div>
                    </div>
                    <div class="job-info-container" [hidden]="jobRolesDrop[$index]">
                        <div class="job-info">
                            <div class="job-header">Gross Compensation Package: </div>
                            <div class="job-value">
                                <div class="instruction">Rs. {{job.packages[$index].toLocaleString("en-IN")}} lpa</div>
                            </div>
                        </div>
                        <hr>
                        <div class="job-info">
                            <div class="job-header">Role Description: </div>
                            <div class="job-value">
                                @for(desc of job.roleDescriptions[$index].split("- "); track $index){
                                    @if(desc.length !== 0){
                                        <div class="instruction">- {{ desc }}</div>
                                    } 
                                }    
                            </div>
                        </div>
                        <hr>
                        <div class="job-info">
                            <div class="job-header">Requirements: </div>
                            <div class="job-value">
                                @for(req of job.requirements[$index].split("- "); track $index){
                                    @if(req.length !== 0){
                                        <div class="instruction">- {{ req }}</div>
                                    } 
                                }    
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    }
}@else{
    <app-job-application></app-job-application>
}