<div class="login-container">
    <form class="login-form" #loginForm ngNativeValidate>
        <div class="login-title">Log in</div>
        <div class="input email">
            <input [(ngModel)]="userLoginDetails.email" type="text" name="email" placeholder="Email ID*" class="text" required>
            <div class="label">FORGOT EMAIL ID?</div>
        </div>
        <div class="input password">
            <div class="input-password">
                <input [(ngModel)]="userLoginDetails.password" type="{{passwordType}}" id="password" name="password" placeholder="Password*" class="text" required>
                <img (click)="togglePassword()" src="../../assets/icons/preview.svg" alt="">
            </div>
            <div class="label">FORGOT PASSWORD?</div>
        </div>
        <div class="input rememberMe">
            <input type="checkbox" name="rememberMe" id="rememberMe">
            <div class="label">Remember Me</div>
        </div>
        <div class="login-button-container">
            <button (click)="loginForm.checkValidity() ? loginUserClicked() : null" class="login-button">LOG IN</button>
        </div>
        <div class="create-account">
            <div class="label">Not Registered Yet?</div>
            <a href="/registration">CREATE AN ACCOUNT</a>
        </div>
    </form>
    <div class="contact-div">
        <div class="contact">
            <a href="">About </a>
            <div class="pipe"> | </div>
            <a href="">Contact Us</a>
        </div>
    </div>
</div>