@import '../../scss/functions';
@import '../../scss/variable';
.container {
    padding: 26px 24px 40px 24px;
    .go-up-component {
        z-index: 10;
        @include flex(center, center);
        height: 36px;
        width: 36px;
        position: fixed;
        bottom: 24px;
        right: 24px;
        background-color: $buttonbgcolor;
        border-radius: 50%;
        box-shadow: 0px 4px 6px $qualificationboxShadow;
    }
    .list-container {
        .job-container {
            background-color: $white;
            padding: 16px;
            box-shadow: 0px 4px 6px $boxshadow;
            .job-title {
                font-size: 18px;
                color: $accentcolor;
                padding-bottom: 16px;
            }
            .apply-job {
                float: right;
                .apply-job-button {
                    @include cursorPointer();
                    border: none;
                    outline: none;
                    background-color: $buttonbgcolor;
                    box-shadow: $buttonshadow;
                    width: 73px;
                    height: 28px;
                    padding: 5px 16px;
                }
                .apply-job-button:disabled {
                    cursor: default;
                    opacity: 0.5;
                }
            }
            .job-expires {
                position: static;
                height: 18px;
                margin-top: -2.3%;
                text-align: center;
                padding: 2px 8px;
                background-color: $expiresbgColor;
                color: $expiresColor;
                font-size: 12px;
                border-radius: 2px;
                float: right;
            }
            .date-time-container {
                .date-time-title {
                    color: $labelcolor;
                    font-size: 12px;
                }
                .date-time-value {
                    @include flex();
                    font-size: 14px;
                    color: $textcolor;
                    gap: 16px;
                    .splitter {
                        color: $labelcolor;
                        opacity: 0.25;
                    }
                    .location {
                        @include flex();
                        gap: 4px;
                        color: $labelcolor;
                        font-size: 12px;
                        img {
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
            hr {
                color: $labelcolor;
                opacity: 0.25;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .job-role-title {
                color: $labelcolor;
                font-size: 12px;
                margin-bottom: 8px;
            }
            .job-role-container {
                @include flex();
                gap: 8px;
                .job {
                    @include flex($alignItems: center);
                    gap: 8px;
                    img {
                        height: 16px;
                        width: 16px;
                        border: 1px solid $textcolor;
                        border-radius: 50%;
                        padding: 4px;
                    }
                    .role-title {
                        font-size: 14px;
                        color: $accentcolor;
                    }
                }
            }
            .extra-roles-container {
                @include flex();
                margin-top: 19px;
                .extra-role {
                    background-color: $extraRolebgColor;
                    border-radius: 9px;
                    font-size: 10px;
                    width: 218px;
                    height: 18px;
                    text-align: center;
                }
            }
        }
        .dropdown {
            @include flex($justifyContent: space-between, $alignItems: center);
            background-color: $qualificationTitleColor;
            box-shadow: 0px 4px 6px $qualificationboxShadow;
            margin-bottom: 0;
            .pre-requisites-process-title {
                padding-left: 16px;
            }
            .dropdown_img_container {
                border-left: 1px solid rgba(0, 0, 0, 0.25);
                height: 56px;
                width: 32px;
                @include flex($justifyContent: center, $alignItems: center);
                img {
                    padding-left: 10px;
                    padding-right: 10px;
                    @include cursorPointer();
                }
            }
        }
        .pre-requisites-process-container {
            // padding-bottom: 24px;
            .job-info-container {
                background-color: $white;
                padding: 16px;
                box-shadow: 0px 4px 6px $boxshadow;
                .job-info {
                    background-color: $white;
                    .job-header {
                        color: $labelcolor;
                        font-size: 12px;
                    }
                    .job-value {
                        padding: 16px 0px;
                        .instruction {
                            font-size: 14px;
                        }
                    }
                }
                hr {
                    color: $labelcolor;
                    opacity: 0.25;
                    margin-bottom: 16px;
                }
            }
        }
    }
    .time-slot-container {
        background-color: $white;
        padding: 16px;
        box-shadow: 0px 4px 6px $boxshadow;
        margin-top: 24px;
        margin-bottom: 24px;
        .time-slot-title {
            font-size: 16px;
        }
        .select-time {
            color: $labelcolor;
            font-size: 12px;
            margin-top: 24px;
            margin-bottom: 18px;
        }
        .radio-container {
            .radio-button {
                @include flex($alignItems: center);
                gap: 8px;
                padding-bottom: 16px;
                input[type="radio"] {
                    width: 20px;
                    height: 24px;
                    accent-color: $accentcolor;
                }
                .radio-label {
                    font-size: 16px;
                }
            }
        }
        hr {
            color: $labelcolor;
            opacity: 0.25;
        }
        .select-preference {
            color: $labelcolor;
            font-size: 12px;
            margin-top: 24px;
            margin-bottom: 18px;
        }
        .checkbox-container {
            .checkbox-option {
                @include flex($alignItems: center);
                gap: 8px;
                padding-bottom: 16px;
                input[type="checkbox"] {
                    width: 20px;
                    height: 24px;
                    accent-color: $accentcolor;
                }
                .checkbox-label {
                    font-size: 16px;
                }
            }
        }
        .upload-resume-div {
            @include flex($alignItems: center);
            padding-top: 16px;
            &:hover {
                @include cursorPointer();
            }
            .upload-resume {
                margin-right: 8px;
            }
            .resume-input {
                display: none;
            }
            .upload-label {
                color: $accentcolor;
                font-size: 14px;
            }
            .file-name {
                height: 100%;
                overflow: hidden;
                color: $labelcolor;
                font-size: 12px;
                flex: 1;
                border: none;
                background-color: $white;
            }
        }
    }
    .single-job-container {
        .dropdown {
            @include flex($justifyContent: space-between, $alignItems: center);
            background-color: $qualificationTitleColor;
            box-shadow: 0px 4px 6px $qualificationboxShadow;
            margin-top: 24px;
            gap: 24px;
            .job-roles-title {
                padding-left: 16px;
            }
            .dropdown_img_container {
                border-left: 1px solid rgba(0, 0, 0, 0.25);
                height: 56px;
                width: 32px;
                @include flex($justifyContent: center, $alignItems: center);
                img {
                    padding-left: 10px;
                    padding-right: 10px;
                    @include cursorPointer();
                }
            }
        }
        .job-info-container {
            background-color: $white;
            padding: 16px;
            box-shadow: 0px 4px 6px $boxshadow;
            margin-bottom: 24px;
            .job-info {
                background-color: $white;
                .job-header {
                    color: $labelcolor;
                    font-size: 12px;
                }
                .job-value {
                    padding: 16px 0px;
                    .instruction {
                        font-size: 14px;
                    }
                }
            }
            hr {
                color: $labelcolor;
                opacity: 0.25;
                margin-bottom: 16px;
            }
        }
        // .job-info-container{
        //     margin-bottom: 24px;
        // }
    }
}

.rotate180 {
    transform: rotate(180deg);
}

@media screen and (max-width: 376px) {
    .container {
        padding-bottom: 76px;
        overflow-y: hidden;
        .go-up-component {
            bottom: 48px;
        }
        .list-container {
            .job-container {
                .job-role-container {
                    @include flex(center, normal, column);
                }
                .apply-job {
                    position: fixed;
                    float: center;
                    top: auto;
                    bottom: 0;
                    left: 0;
                    width: 100vw;
                    .apply-job-button {
                        @include cursorPointer();
                        width: 100%;
                    }
                }
            }
        }
    }
}