<div class="reg-header">
    <img src="../../../assets/svgs/back.svg" alt="back_arrow">
    <div class="reg-title">Create an account</div>
    <button class="reg-button cancel-button active">CANCEL</button>
    <button class="reg-button create-button" [ngClass]="{disabled: isDisabled}">CREATE</button>
</div>

<div class="reg-progress-bar">
        <div class="progress-div">
            <span [ngClass]="{progress_circle: true,already_next_step: isAlreadyNextStep(1)}">
            @if(stepCount > 1){
                <img class="edit-img" src="../../../assets/icons/edit_black.png" alt="">
            } @else { 1 }
            </span>
            <span class="progress-label">Personal Information</span>
        </div>
        <div class="progress-line"></div>
        <div class="progress-div">
            <span [ngClass]="{progress_circle: true,already_next_step: isAlreadyNextStep(2)}">
            @if(stepCount > 2){
                <img class="edit-img" src="../../../assets/icons/edit_black.png" alt="">
            } @else { 2 }
            </span>
            <span class="progress-label">Qualifications</span>
        </div>
        <div class="progress-line"></div>
        <div class="progress-div">
            <span [ngClass]="{progress_circle: true,already_next_step: isAlreadyNextStep(3)}">
            @if(stepCount > 3){
                <img class="edit-img" src="../../../assets/icons/edit_black.png" alt="">
            } @else { 3 }
            </span>
            <span class="progress-label">Review and Proceed</span>
        </div>
</div>

@if(stepCount===1){
    <app-personal-info
    (personalInformationSubmited)="setPersonalInformation($event)"
    [prevUserInfo]="{ userInfo: userPersonalInformation, preferredJobRoles }"
    ></app-personal-info>
}
@else if(stepCount===2){
    <app-qualifications
    (qualificationsSubmited)="setQualificationsInformation($event)"
    [prevUserInfo]="{
      userEducationalQualifications: userEducationalQualifications,
      preferredJobRoles,
      userProfessionalQualificationsVisible:
        userProfessionalQualificationsVisible,
      userFresher: userFresher,
      userExperienced: userExperienced,
      familiarTechnologies,
      expertiseTechnologies
    }"
    ></app-qualifications>
}@else if(stepCount===3){
    <app-review-proceed
    (reviewPricessSubmited)="reviewPricessSubmited($event)"
    [prevUserInfo]="{
      userInfo: userPersonalInformation,
      preferredJobRoles,
      userEducationalQualifications: userEducationalQualifications,
      userProfessionalQualificationsVisible:
        userProfessionalQualificationsVisible,
      userFresher: userFresher,
      userExperienced: userExperienced,
      familiarTechnologies,
      expertiseTechnologies
    }"
    ></app-review-proceed>
}