@import './scss/functions';
@import './scss/variable';

@font-face {
    font-family: 'QuickSand';
    font-weight: 400;
    src: url('./assets/Quicksand-VariableFont_wght.woff2');
}

*{
    margin: 0;
}

html, body{
    background-color: $bodybackground;
    font-family: 'QuickSand';
    font-variant: normal;
    font-style: normal;
    font-weight: 600;
    height: 100vh;
}

.app-root{
    display: block;
    height: 100%;
    @include flex($flexDirection:column);
}

.mat-typography{
    font-family: $font;
    font-weight: 600;
    font-size: 16px;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
