$backgroundColor: #25313F;
$headerBorderColor: #3AC7EC;
$white: #FFFFFF;
$black: #000000;
$bodybackground: #eeeeee;
$regBgcolor: #3C4E62;
$regTitlecolor: #ffffff;
$boxshadow: #0000003D;
$buttoncolor: #1F2834;
$buttonbgcolor: #3FD28B;
$disabledbuttonbgcolor: #3FD28B3D;
$progressbarbgcolor: #ffffff;
$doneprogresscolor: #3FD28B;
$notdoneprogresscolor: #757575;
$textcolor: #222222;
$progressline: #00000033;
$labelcolor: #666666;
$accentcolor: #1F7A54;
$buttonshadow: 0px 3px 5px #0000003D;
$qualificationTitleColor: #DBEFFF;
$qualificationboxShadow: #00000029;
$inputbottomline: #0000001f;

$font: 'Quicksand';